$color: red;

body {
    text-align: center;

    header {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    main {
        display: flex;
        justify-content: center;

        .box {
            border-radius: 10px;
            padding: 20px;
            box-shadow: 5px 5px 20px rgb(194, 194, 194);
            display: flex;
            flex-direction: column;
            align-items: center;

            .area {
                width: 360px;
                height: 360px;
                border: 5px dashed #eee;
                position: relative;
                display: block;

                #snake {

                    // left: 340px;
                    >span {
                        display: block;
                        width: 10px;
                        height: 10px;
                        background-color: #000;
                        border: 1px solid #fff;
                        position: absolute;
                    }
                }

                #food {
                    width: 10px;
                    height: 10px;
                    background: url(../asset/img/cake.png);
                    background-size: 100% 100%;
                    position: absolute;
                }
            }

            .panel {
                // display: none;
                display: flex;
                flex-direction: column;
                width: 100%;
                padding-top: 20px;

                .top {
                    display: flex;
                    justify-content: space-between;
                    font-family: arial;
                    font-size: 24px;
                    font-weight: bold;
                    font-style: normal;
                }

                .bottom {
                    margin-top: 20px;

                    >button {
                        border: none;
                        width: 50%;
                        border-radius: 5px;
                        background-color: #febf01;
                        color: #fff;
                        padding: 10px;
                        margin: auto;
                        margin-bottom: 20px;

                        &#pause {
                            display: none;
                        }


                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

            }

            .levelPanelBox {
                width: 360px;
                display: none;

                #levelPanel {
                    display: flex;
                    flex-wrap: wrap;
                    cursor: pointer;

                    span {
                        display: flex;
                        width: 20%;
                        height: 50px;
                        // padding: 5px;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px;
                        font-weight: 500;

                        &.active {
                            background-color: #febf01;
                            color: #fff;
                        }
                    }
                }

                .bottom {
                    display: flex;
                    margin-top: 20px;
                    justify-content: space-between;

                    .btn {
                        border: none;
                        width: 30%;
                        border-radius: 5px;
                        padding: 10px;
                    }

                    #confirm {
                        background-color: #febf01;
                        color: #fff;
                    }

                    #back {
                        color: #eee;
                        background-color: rgb(84, 84, 84);
                    }
                }
            }
        }
    }

    .mask {
        background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: none;
        // display: flex;
        justify-content: center;
        align-items: center;

        .content {
            background-color: #fff;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;

            .icon {
                display: block;
                width: 60px;
                height: 60px;
                background: url(../asset/img/failure.png);
            }

            .tip {
                color: rgb(176, 175, 175);
                margin: 15px 0;
            }

            .bottom {
                display: flex;
                justify-content: space-evenly;
                width: 300px;

                .btn {
                    border: none;
                    width: 100px;
                    border-radius: 5px;
                    padding: 10px;
                    font-size: 14px;
                }

                #change {
                    background-color: #febf01;
                    color: #fff;
                }

                #backGame {
                    color: #eee;
                    background-color: rgb(84, 84, 84);
                }
            }
        }
    }
}